# Assured Contingency Landing Management
# The Gradient-guided Search Path Planning
# Configuration file

# ACLM Solver type
# 0: Search with ground-risk
# 1: Holding pattern identification + Search + Dubins with ground risk
# 2: Landing site selection + Search with ground and airspace risks
# 3: Landing site selection + Search with dynamic-static air traffic and ground risks avoidance
SOLVER = 3

# Initial emergency state (Latitude, longitude, MSL altitude in foot, heading in degrees)
INIT_LAT = 38.74375000
INIT_LON = -77.07777800
INIT_ALT = 8600.00
INIT_HDG = 205.1

# Goal state (Latitude, longitude, MSL altitude in foot, heading in degrees) [Mandatory entry for search type 0 and 1]
GOAL_LAT = 38.69845438
GOAL_LON = -77.15843014
GOAL_ALT = 540.93
GOAL_HDG = 313.0

# Touchdown state (Latitude, longitude, MSL altitude in foot, heading in degrees) [Mandatory entry for search type 0 and 1]
TD_LAT = 38.70983333
TD_LON = -77.17400000
TD_ALT = 73.40
TD_HDG = 313.0

# Wind conditions (Max. allowed wind speed is 15 knots. Wind speed is in knots. Wind direction is in degrees.)
WIND_SPEED  = 0
WIND_DIR    = 0

# Aircraft parameters (Turn radius is in foot. Gamma values are in degrees. Airspeed is in knots.)
TURN_RAD        = 3000
GAMMA_BG_TURN   = 4.3
GAMMA_OPT_TURN  = 4.55
AIRSPEED        = 90

# Earth model (0: WGS84, 1: BESSEL, 2: INTERNATIONAL, 3: FLAT, 4: SPHERE)
EARTH_MODEL = 0

# Risk computation (Integration time step is in seconds. MSL Crossover altitude is in foot. Population bounds are in persons/m^2)
# If GROUND_INTEG_DT >= 10 then the ground risk is ignored.
ASRISK_W_HMAX       = 1500
ASRISK_W_HMIN       = 1000
AIRSPACE_INTEG_DT   = 0.05
GROUND_INTEG_DT     = 0.5
GROUND_RISK_WEIGHT  = 0
# GROUND_RISK_WEIGHT  = 0.0925
CROSSOVER_H         = 5000
MIN_POP             = 0
MAX_POP             = 0.00558081203950462
CENSUS_SHPFILE_DIR  = data/census/dcarea_all_census.shp

# Dynamic traffic avoidance (DYNAMIC_TRAFFIC_DATAFILE: Binary datafile name)
DYNAMIC_TRAFFIC_DATAFILE = VFR_HI.bin

# Separation parameters
# RNP terminal area requirement: RNP_TER [NM], RNP final approach requirement: RNP_FIN [NM], Initial approach fix altitude: IAF_ALT MSL [ft]
RNP_TER     = 1
RNP_FIN     = 0.3
IAF_ALT     = 2500

# ADS-B lateral position error: ERR_ADSB_P [NM], ADS-B Velocity error: ERR_ADSB_V [m/s], ADS-B delay: DELAY_ADSB [s]
ERR_ADSB_P  = 0.05
ERR_ADSB_V  = 10
DELAY_ADSB  = 0.6

# Barometric pressure max. error above 5000 ft MSL requirement: ERR_BARO_A5000 [ft], min. error below 5000 ft MSL requirement: ERR_BARO_B5000 [ft]
ERR_BARO_A5000  = 210
ERR_BARO_B5000  = 160

# Clearance: Horizontal [NM], vertical [ft]
HORZ_CLEARANCE = 3
VERT_CLEARANCE = 500

# Search algorithm parameters (Discretization heading and allowed heading changes are in degrees. Time discretization is in seconds. Adaptive segment length altitude is MSL in foot.)
# Allowed course change values are in degrees: Negative values indicate left turn.
MAX_ITER                = 5000
DISCRETIZE_HDG          = 5
DISCRETIZE_TIME         = 15
ALLOWED_HDG_CHG         = -30, -15, 0, 15, 30
ADAPTIVE_SEGM_LEN_H     = 1000